<!--<h4>{{ title }}</h4>
<p>{{ description }}</p>-->
<!--<input type="text" [(ngModel)]='keyterm'>-->
<div class='selected-event'>
  <div>
    <h4><a [href]='selectedEvent?.url' target='_blank'>{{ selectedEvent?.title }}</a></h4>
    <p style='font-size: 12px;'>{{ selectedEvent?.date | toDate | date:'fullDate' }}</p>
    <div *ngIf='selectedEvent?.image'>
      <div style='color: #999; width: 48%; float: right'>
        {{ selectedEvent?.image[0].caption }}
      </div>
      <img style='width:50%;'  
        [src]='"image/"+selectedEvent?.image[0].file' alt=''>
    </div>
    <p style='font-size: 14px;'>{{ selectedEvent?.description }}</p>
  </div>
</div>
<div iscroll id='timeline-container'>
  <div>
    <svg xmlns='http://www.w3.org/2000/svg' width='100%' [attr.height]='40+365*multiplier'>
      <rect x='40' y='20' width='8' [attr.height]='365*multiplier' fill='#4EADFF'/>
      <g *ngFor='let m of months'>
        <text x='5' [attr.y]='25+m.pos*multiplier'>{{ m.mon }}</text>
        <line x1='35' [attr.y1]='20+m.pos*multiplier' x2='53' 
          [attr.y2]='20+m.pos*multiplier' stroke='#4EADFF' stroke-width='2' />
      </g>
      <g class='individual-event' [ngClass]='{selected: d==selectedEvent}' *ngFor='let d of data; let i=index;' 
        (mouseenter)='addHighlight(i)' (mouseleave)='removeHighlight(i)'>
        <line x1='44' [attr.y1]='20+getDayInYear(d.date)*multiplier' x2='66' 
          [attr.y2]='20+getDayInYear(d.date)*multiplier' stroke='#4EADFF' stroke-width='2' />
        <circle cx='44' [attr.cy]='20+getDayInYear(d.date)*multiplier' r='8' stroke='#4EADFF' 
          stroke-width='4' fill='white' />
        <rect x='66' [attr.y]='20+getDayInYear(d.date)*multiplier-16' 
          width='395' [attr.height]='12*stringDivider(d.title, 64).length+20' stroke='#4EADFF' stroke-width='2' fill='white' />
        <text x='70' [attr.y]='20+getDayInYear(d.date)*multiplier-4'>
          <tspan *ngFor='let t of stringDivider(d.title, 64); let j=index;' 
            x='70' [attr.y]='20+getDayInYear(d.date)*multiplier-4+12*j'>{{ t }}</tspan>
        </text>
        <text x='70' [attr.y]='20+getDayInYear(d.date)*multiplier+12*stringDivider(d.title, 64).length' 
          font-size='10'>{{ d.date | toDate | date:'fullDate' }}</text>
      </g>
      <g class='individual-event highlighted' *ngIf='highlightedEvent' (click)='selectEvent(i)' >
        <line x1='44' [attr.y1]='20+getDayInYear(highlightedEvent.date)*multiplier' x2='66' 
          [attr.y2]='20+getDayInYear(highlightedEvent.date)*multiplier' stroke='#4EADFF' stroke-width='2' />
        <circle cx='44' [attr.cy]='20+getDayInYear(highlightedEvent.date)*multiplier' r='8' stroke='#4EADFF' 
          stroke-width='4' fill='white' />
        <rect x='66' [attr.y]='20+getDayInYear(highlightedEvent.date)*multiplier-16' width='395' 
          [attr.height]='12*stringDivider(highlightedEvent.title, 64).length+24' stroke='#4EADFF' stroke-width='2' fill='white' />
        <text x='70' [attr.y]='20+getDayInYear(highlightedEvent.date)*multiplier-4'>
          <tspan *ngFor='let st of stringDivider(highlightedEvent.title, 64); let k=index;' x='70' 
            [attr.y]='20+getDayInYear(highlightedEvent.date)*multiplier-4+12*k'>{{ st }}</tspan>
        </text>
        <text x='70' [attr.y]='20+getDayInYear(highlightedEvent.date)*multiplier+12*stringDivider(highlightedEvent.title, 64).length' 
          font-size='10'>{{ highlightedEvent.date | toDate | date:'fullDate' }}</text>
      </g>
    </svg>
  </div>
</div>
