<div>
  <button md-icon-button style='float:right; margin-right:-12px;'>
    <md-icon (click)='closeModal()'>close</md-icon>
  </button>
  <div class='toggle-display' [ngSwitch]='view' style='float:right;'> 
    <span *ngSwitchWhen='"visual"' (click)='view="data"'>Show Data</span>
    <span *ngSwitchWhen='"data"' (click)='view="visual"'>Show Visual</span>
  </div>
  <h3>{{ entry.title }}</h3>
  <p style='margin-top:-18px; font-size:14px; color:rgba(0,0,0,0.54)'>{{ entry.description }}</p>
  
  <div  [ngSwitch]='view'>
    <div *ngSwitchWhen='"visual"'>
      <div [ngSwitch]='entry.visual'>
        <app-timeline *ngSwitchWhen='"timeline"' [events]='entry.data'></app-timeline> 
        <p *ngSwitchWhen='"barchart"'>Bar Chart (in progress)</p>
        <p *ngSwitchWhen='"linechart"'>Line Chart (in progress)</p>
        <p *ngSwitchWhen='"map"'>Map (in progress)</p>
      </div>
    </div>
    <div *ngSwitchWhen='"data"' style='overflow-x:hidden; overflow-y:auto; width:800px; height:400px;'>
      <app-json-viewer [data]='entry.data'></app-json-viewer>
    </div>
  </div>

</div>
