  <div style='margin:0 16px;'>
    <h3>Gallery: Data Visualization In Progress</h3>
    <p class="secondary">This section hosts a collection of finished and work-in-progress data visualization works created for KnovoTech nutrition research blog.</p>
  </div>
  <div class="card-container">
    <md-card *ngFor="let vis of visuals">
      <md-card-title>{{ vis.title }}</md-card-title>
      <md-card-content class="secondary">{{ vis.description }}</md-card-content>
      <md-card-actions align="end">
        <button md-button color="primary" (click)='openModal(vis, "visual")'>Visual</button>
        <button md-button color="primary" (click)='openModal(vis, "data")'>Data</button>
      </md-card-actions>
    </md-card>
  </div>