<md-card>
  <md-card-title>Nutrition Research Programs Sponsored by National Institute of Health</md-card-title>
  <md-card-content class='secondary'>
    <p>
      The National Institute of Health (NIH) is the primary funding agency for health-related research programs in the United States. NIH sponsored over 30000 research projects annually. The types of programs are highly diversified, ranging from long term research to small business commercialization.
    </p>
    <app-timeline [events]='entry.data'></app-timeline> 
  </md-card-content>
  <md-card-actions align='end'>
    <small>Powered by KnovoTech Data & Technology</small>
  </md-card-actions>
</md-card>