<md-card>
  <md-card-title>ICHNR Nutrition Research Roadmap 2016-2021</md-card-title>
  <md-card-content class='secondary'>
    <p>
      The Interagency Committee on Human Nutrition Research (ICHNR) has released a roadmap, which represents a collective effort across various federal agencies and by external experts.
    </p>
    <div class='quote'>
      "Human nutrition research is the pursuit of new knowledge to improve the understanding of nutrition as it relates to human health and disease and, as here defined, encompasses studies in five major areas: biomedical and behavioral sciences, food sciences, nutrition monitoring and surveillance, nutrition education, and impact on nutrition and intervention programs and socioeconomic factors."
    </div>
    <app-piecircle [themes]='entry1.data'></app-piecircle>
    <div class='quote'>
      Eating pattern is “the combination of foods and beverages that constitute an individual’s complete dietary intake over time. This may be a description of a customary way of eating or a description of a combination of foods recommended for consumption. Specific examples include USDA Food Patterns, Dietary Approaches to Stop Hypertension (DASH) Eating Plan, and Mediterranean, vegetarian, and vegan patterns.”
    </div>
    <app-timeline [events]='entry2.data'></app-timeline>
    <h4>Worthnoting initiatives</h4>
    <ul>
      <li>Examine the role of nutrition, physical activity, and other health habits in the support of good health and the avoidance of adverse health outcomes.</li>
      <li>Support research to identify genetic characteristics related to differences in nutritional requirements and metabolism.</li>
      <li>Pilot test and evaluate nutrient databases for branded food products through innovative partnerships with the food and beverage industry.</li>
      <li>Improve the ability to link data from multiple aspects of the food system and subsequent individual-level nutrition and health outcomes through geocodes or other standardized linking methods.</li>
      <li>Support research, including the use of GIS, electronic health information systems data, and other methods, to enhance data linkage across multiple levels to enable examination of the effects of interventions.</li>
      <li>Expand use of retail food outlet scanner data and other data to examine retail-level and consumer-level food loss and gain insights into reasons for food waste.</li>
      <li>Assess the food waste implications of consumer food handling behavior, food packaging labeling, and food waste recycling policies and practices.</li>
    </ul>
  </md-card-content>
  <md-card-actions align='end'>
    <small>Powered by KnovoTech Data & Technology</small>
  </md-card-actions>
</md-card>